<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/ce6136bb-c550-433c-935e-2504c0fbfb13/resourcegroups/AI_v-fanfa_09072020_SDKTest/providers/Microsoft.Web/sites/NetCore0907Test20200907145121</ResourceId>
    <ResourceGroup>AI_v-fanfa_09072020_SDKTest</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://netcore0907test20200907145121.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://netcore0907test20200907145121.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>d2ac053b-4d7f-4175-a359-2e02fefa4842</ProjectGuid>
    <MSDeployServiceURL>waws-prod-sn1-163.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NetCore0907Test20200907145121</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NetCore0907Test20200907145121</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>